@charset "UTF-8";

// Import the global styles and mixins for every template
@import "./resources/sass/global";

.header {
  @include position(absolute, 0 0 null 0);
  width: 100%;
  z-index: 10;
  .logo {
    font-size: $font-size-h1;
    color: white;
  }
}

#resumen {
  .section-content {
    min-height: auto;
  }
  .overview-item {
    text-align: center;
    h5 {
      min-height: 49px;
    }
  }
  .img-wrapper {
    @include flex-column-center;
    min-height: 210px;
    i {
      color: $brand-primary;
      font-size: 112px;
    }
  }
}

#descripcion-del-programa {
  .computer-bg {
    background-image: url(/img/computer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  z-index: 10;
  article {
    margin-bottom: get-spacer(3, y);
    margin-top: get-spacer(3, y);
  }
  h2 {
  }
}

#quien {
  position: relative;
  &:before {
    background-color: $gray-lightest;
    transform: skewY(-12deg);
    position: absolute;
    // bottom: 440px;
    height: 100%;
    content: "";
    width: 100%;
  }
}

#necesidades {
  color: white;
  .section-header {
    .container {
      @include flex-row;
    }
    .text-wrapper,
    .__icon-wrapper {
      @include flex-column-center;
      height: 70px;
    }
    .__icon-wrapper {
      background-color: $brand-inverse;
      margin-right: get-spacer(4, y);
      text-align: center;
      border-radius: 50%;
      width: 70px;
      i {
        font-size: $font-size-h1;
        color: white;
      }
    }
    h2, h5 {
      color: white;
    }
  }
  .stripes {
    background-image: linear-gradient(90deg,#32315e,#515e80);
    transform: skewY(-12deg);
    position: absolute;
    height: 100%;
    width: 100%;
    top: -130px;
    z-index: 11;
  }
  .stripe {
    position: absolute;
    height: 190px;
  }
  .s1 {
    background: linear-gradient(90deg,rgba(50,49,94,.62),rgba(50,49,94,.49));
    width: 40%;
    left: 12%;
    top: 0;
  }
  .s2 {
    background: linear-gradient(90deg,#3c4272,rgba(60,66,114,0));
    width: 51%;
    bottom: 0;
    left: 0;
  }
  .section-header,
  .section-content,
  .section-footer {
    z-index: 12;
  }
  .startups-needs-list {
    font-size: $font-size-h5;
    color: $teal;
    li {
      margin-bottom: get-spacer(4, x);
    }
    span {
      color: white;
      &:before {
        margin-right: get-spacer(3, x);
        font-family: 'icomoon';
        display: inline-block;
        content: "\e959";
      }
    }
  }
}

#programa {
  background-color: $brand-inverse;
  .section-header {
    h2, h5 {
      color: white;
    }
  }
}

$logos-height-control: 840px;
@keyframes logos {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

#tecnologias {
  .img-wrapper {
    img {
      height: auto;
      width: 100%;
    }
  }
}

.schedule-cards-list {
  .schedule-card {
    > div {
      @include box-shadow-default;
    }
    .top {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
      background-color: white;
      position: relative;
      min-height: 180px;
      overflow: hidden;
      .details {
        padding: get-spacer(3, y);
        position: relative;
        color: white;
        z-index: 11;
        span {
          display: block;
        }
        .month {
          font-size: $font-size-h3;
        }
      }
      &:before {
        background: linear-gradient(147deg, $blue, $purple);
        transform: skewY(-12deg);
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: -49px;
      }
    }
    .content {
      @include list-unstyled;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      padding: get-spacer(3, y);
      background-color: white;
      min-height: 200px;
      li {
        margin-bottom: get-spacer(3, y);
      }
    }
  }
}

.skills-list {
  h4 {
    margin-bottom: get-spacer(5, x);
  }
  ul {
    @include list-unstyled;
    i {
      font-size: $font-size-h1;
      color: $brand-info;
      display: block;
      margin-bottom: get-spacer(3, y);
    }
    li {
      margin-bottom: get-spacer(5, y);
    }
  }
}

.section {
  h2 {
    text-transform: uppercase;
    color: $brand-info;
  }
}

.hero-unit {
  position: relative;
  .section-content {
    .container {
      @include flex-column-center;
      min-height: 63vh;
      color: white;
    }
    h5 {
      margin-bottom: get-spacer(3, x);
    }
    h1 {
      line-height: 3.3rem;
    }
    nav {
      margin-top: get-spacer(5, y);
    }
  }
  .img-wrapper {
    perspective: 1200px;
    perspective-origin: 80% 80%;
    .img {
      @include bg-img-block;
      transform: scale(1.3) rotateX(1deg) rotateY(-15deg) rotate(-1deg) translateX(63px) translateY(34px);
      box-shadow: 0 55px 70px -20px rgba(50,50,93,.55), 0 20px 30px -10px rgba(0,0,0,.14);
      background-image: url(/img/code.jpg);
      border-radius: $border-radius;
      height: 280px;
      width: 100%;
    }
  }
}


/*
  Media queries
*/
$xl-desktop: 1500px;
$xxl-desktop: 1980px;
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {
  body {
    .computer-bg-wrapper {
      display: none;
    }
    #necesidades {
      .stripes {
        top: 0;
      }
    }
  }
}
@media #{$md-down} {
  body {
    .computer-bg-wrapper {
      height: 380px;
    }
  }
}
@media #{$lg-down} {}
@media #{$sm-up} {
  body {
    #tecnologias {
      .logos {
        height: $logos-height-control;
        position: absolute;
        overflow: hidden;
        width: 100%;
        .logo-grid {
          background-image: url(/img/logo-group.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          backface-visibility: hidden;
          will-change: transform;
          height: 2095px;

          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          animation-duration: 120s;
          animation-name: logos;
        }
      }
    }
  }
}
@media #{$md-up} {
  body {
    .computer-bg-wrapper {
      height: 505px;
    }
  }
}
@media #{$lg-up} {
  body {
    .computer-bg-wrapper {
      height: 1110px;
    }
  }
}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}
