@charset "UTF-8";

@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";
@import "./node_modules/bootstrap/scss/normalize";
@import "./node_modules/bootstrap/scss/print";
@import "./node_modules/bootstrap/scss/reboot";
@import "./node_modules/bootstrap/scss/type";
@import "./node_modules/bootstrap/scss/images";
@import "./node_modules/bootstrap/scss/grid";
@import "./node_modules/bootstrap/scss/forms";
@import "./node_modules/bootstrap/scss/buttons";
@import "./node_modules/bootstrap/scss/utilities/background";
@import "./node_modules/bootstrap/scss/utilities/clearfix";
@import "./node_modules/bootstrap/scss/utilities/display";
@import "./node_modules/bootstrap/scss/utilities/float";
@import "./node_modules/bootstrap/scss/utilities/screenreaders";
@import "./node_modules/bootstrap/scss/utilities/text";
@import "./node_modules/bootstrap/scss/utilities/visibility";
@import "bourbon";
@import "./resources/sass/ebm-variables";
@import "./node_modules/ebm/functions/ebm-functions";
@import "./node_modules/ebm/helpers/ebm-helpers";
@import "./resources/sass/ebm-fonts-setup";
@import "./resources/sass/ebm-fonts";
@import "./node_modules/ebm/control/ebm-text-responsive-control";
@import "./node_modules/ebm/control/ebm-text-control";
@import "./node_modules/ebm/modules/ebm-header";
@import "./node_modules/ebm/elements/ebm-section";
@import "./node_modules/ebm/control/ebm-container-control";
@import "./node_modules/ebm/elements/ebm-buttons";
@import "./node_modules/ebm/elements/ebm-icons";
@import "./node_modules/ebm/elements/ebm-grid-lists";
@import "./resources/sass/ebm-overrides";
@import "./resources/sass/ebm-global";
@import "./resources/sass/common/hero-stripes";

.header {
  @include position(absolute, 0 0 null 0);
  width: 100%;
  z-index: 10;
  .logo {
    font-size: $font-size-h1;
    color: white;
  }
}

#resumen {
  .section-content {
    min-height: auto;
  }
  .overview-item {
    text-align: center;
    h5 {
      @include medium;
      min-height: 49px;
    }
  }
  .img-wrapper {
    @include flex-column-center;
    min-height: 210px;
    i {
      color: $brand-primary;
      font-size: 112px;
    }
  }
}

#descripcion-del-programa {
  .section-header {
    text-align: right;
  }
  .computer-bg {
    background-image: url(/img/computer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  z-index: 10;
  article {
    margin-bottom: get-spacer(3, y);
    margin-top: get-spacer(3, y);
  }
  h2 {
  }
}

#quien {
  .section-content {
    @include flex-column-center;
    min-height: auto;
  }
  .bio-wrapper {
    position: relative;
    bottom: -35px;
    z-index: 10;
    > div {
      @include flex-row-space-between;
      @include box-shadow-default;
      border-radius: $border-radius-lg;
      background-color: white;
    }
    .left,
    .right {
      position: relative;
      min-height: 350px;
      width: 50%;
    }
    .left {
      .badge {
        @include position(absolute, -50px null null -50px);
        transform: rotate(-20deg);
        z-index: 10;
        img {
          width: 140px;
          height: auto;
        }
      }
      .img-wrapper {
        @include position(absolute, 0 0 0 0);
        @include bg-img-block;
        background-image: url(/img/profile-gus.jpg);
        border-bottom-left-radius: $border-radius-lg;
        border-top-left-radius: $border-radius-lg;
        height: 100%;
        width: 100%;
      }
    }
    .right {
      .content {
        @include position(absolute, 0 0 0 0);
        padding: get-spacer(5, x);
        z-index: 10;
        h3 {
          color: $brand-inverse;
        }
      }
      &:after {
        @include position(absolute, 0 null 0 0);
        background-color: white;
        transform: skew(-12deg);
        transform-origin: 0 0;
        display: block;
        content: "";
        height: 100%;
        width: 100%;
      }
    }
  }
}

#necesidades {
  color: white;
  .section-header {
    .container {
      @include flex-row;
    }
    .text-wrapper,
    .__icon-wrapper {
      @include flex-column-center;
      height: 70px;
    }
    .__icon-wrapper {
      background-color: $brand-inverse;
      margin-right: get-spacer(4, y);
      text-align: center;
      border-radius: 50%;
      width: 70px;
      i {
        font-size: $font-size-h1;
        color: white;
      }
    }
    h2, h5 {
      color: white;
    }
  }
  .stripes {
    background-image: linear-gradient(90deg,#32315e,#515e80);
    transform: skewY(-12deg);
    position: absolute;
    height: 100%;
    width: 100%;
    // top: -130px;
    z-index: 11;
  }
  .stripe {
    position: absolute;
    height: 190px;
  }
  .s1 {
    background: linear-gradient(90deg,rgba(50,49,94,.62),rgba(50,49,94,.49));
    width: 40%;
    left: 12%;
    top: 0;
  }
  .s2 {
    background: linear-gradient(90deg,#3c4272,rgba(60,66,114,0));
    width: 51%;
    bottom: 0;
    left: 0;
  }
  .section-header,
  .section-content,
  .section-footer {
    z-index: 12;
  }
  .startups-needs-list {
    font-size: $font-size-h5;
    color: $teal;
    li {
      margin-bottom: get-spacer(4, x);
    }
    span {
      color: white;
      &:before {
        margin-right: get-spacer(3, x);
        font-family: 'icomoon';
        display: inline-block;
        content: "\e959";
      }
    }
  }
}

#programa {
  background-color: $brand-inverse;
  .section-header {
    h2, h5 {
      color: white;
    }
  }
}

$logos-height-control: 840px;
@keyframes logos {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

#tecnologias {
  .img-wrapper {
    img {
      height: auto;
      width: 100%;
    }
  }
}

#aplicar {
  background-color: $brand-inverse;
  min-height: 100vh;
  // display: block;
  .section-content {
    min-height: auto;
  }
  .section-footer {
    background-color: darken($brand-inverse, 7%);
    margin-top: auto;
  }
}

#register-form {
  border-radius: $border-radius-lg;
  padding: get-spacer(3, x);
  background-color: white;
}

.schedule-cards-list {
  .schedule-card {
    > div {
      @include box-shadow-default;
    }
    .top {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
      background-color: white;
      position: relative;
      min-height: 180px;
      overflow: hidden;
      .details {
        padding: get-spacer(3, y);
        position: relative;
        color: white;
        z-index: 11;
        span {
          display: block;
        }
        .month {
          font-size: $font-size-h3;
        }
      }
      &:before {
        background: linear-gradient(147deg, $blue, $purple);
        transform: skewY(-12deg);
        position: absolute;
        height: 100%;
        content: "";
        width: 100%;
        top: -49px;
      }
    }
    .content {
      @include list-unstyled;
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      padding: get-spacer(3, y);
      background-color: white;
      min-height: 200px;
      li {
        margin-bottom: get-spacer(3, y);
      }
    }
  }
}

.skills-list {
  h4 {
    margin-bottom: get-spacer(5, x);
  }
  ul {
    @include list-unstyled;
    i {
      font-size: $font-size-h1;
      color: $brand-info;
      display: block;
      margin-bottom: get-spacer(3, y);
    }
    li {
      margin-bottom: get-spacer(5, y);
    }
  }
}

.section {
  h2 {
    text-transform: uppercase;
    color: $brand-info;
  }
}

.hero-unit {
  position: relative;
  .section-content {
    .container {
      @include flex-column-center;
      min-height: 81vh;
      color: white;
    }
    h5 {
      margin-bottom: get-spacer(3, x);
    }
    h1 {
      line-height: 3.3rem;
    }
    nav {
      margin-top: get-spacer(5, y);
    }
  }
  .img-wrapper {
    perspective: 1200px;
    perspective-origin: 80% 80%;
    .img {
      @include bg-img-block;
      transform: scale(1.3) rotateX(1deg) rotateY(-15deg) rotate(-1deg) translateX(63px) translateY(34px);
      box-shadow: 0 55px 70px -20px rgba(50,50,93,.55), 0 20px 30px -10px rgba(0,0,0,.14);
      background-image: url(/img/code.jpg);
      border-radius: $border-radius;
      height: 280px;
      width: 100%;
    }
  }
}


/*
  Media queries
*/
@media #{$xs-only} {}
@media #{$sm-only} {}
@media #{$md-only} {}
@media #{$lg-only} {}
@media #{$sm-down} {
  body {
    #descripcion-del-programa {
      .section-header {
        text-align: left;
      }
    }
    .hero-unit {
      padding-top: $header-height-control;
      .section-content {
        .container {
          min-height: 70vh;
        }
      }
    }
    .cta-nav {
      a {
        margin-bottom: get-spacer(3, y);
      }
    }
    .computer-bg-wrapper {
      display: none;
    }
    #necesidades {
      .stripes {
        top: 0;
      }
    }
    #quien {
      .bio-wrapper {
        > div {
          @include flex-column;
        }
        .left {
          .badge {
            left: -10px;
          }
        }
        .left,
        .right {
          min-height: 210px;
          width: 100%;
        }
        .right {
          .content {
            padding: get-spacer(3, y);
            position: initial;
          }
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
@media #{$md-down} {
  body {
    .computer-bg-wrapper {
      height: 380px;
    }
  }
}
@media #{$lg-down} {}
@media #{$sm-up} {
  body {
    #tecnologias {
      .logos {
        height: $logos-height-control;
        position: absolute;
        overflow: hidden;
        width: 100%;
        .logo-grid {
          background-image: url(/img/logo-group.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          backface-visibility: hidden;
          will-change: transform;
          height: 2095px;

          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-fill-mode: forwards;
          animation-duration: 120s;
          animation-name: logos;
        }
      }
    }
  }
}
@media #{$md-up} {
  body {
    .computer-bg-wrapper {
      height: 505px;
    }
  }
}
@media #{$xl-up} {
  body {
    .computer-bg-wrapper {
      height: 1110px;
    }
  }
}
@media only screen and (min-width: $xl-desktop) {}
@media only screen and (min-width: $xxl-desktop) {}
